* {
  box-sizing: border-box;
    margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #030303;
  color: white;
}
.background {
  width: 100vw;
  height: 100vh;
  background-position: top;
  z-index: 1;
  position: relative;
  box-shadow: 0 50px 50px black;
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 100;
  font-family: 'Palette Mosaic',cursive;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  color: white;
  text-shadow: 2px 2px 5px red;
}
.layer {
  background-image: linear-gradient(to bottom,transparent 50%,rgba(0, 0, 0,0.85) 70%, #020202), url("https://images.unsplash.com/photo-1552984418-b55abf780dd4?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0ODQxMTI1OQ&ixlib=rb-1.2.1&q=85");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.layer-1 {
  z-index: 80;
}
.layer-2 {
  z-index: 80;
}
.layer-3 {
  z-index: 90;
}
.content {
  font-size: 1.2rem;
  line-height: 1.7;
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1562321157-5fd366036de8?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0ODMyMjA3Mw&ixlib=rb-1.2.1&q=85");
  background-size: cover;
  background-attachment: fixed;
  background-position: center ;
}
.text {
  padding: 10rem 10rem 20rem 20rem;
}
.lj {
  background-image: url("https://www.transparentpng.com/thumb/lebron-james/CUJTtm-lebron-james-free-png.png");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 10;
  background-position: bottom;
  -webkit-transform: scaleX(0.4);
  transform: scaleX(1);
}
.balls {
  position: absolute;
  z-index: 1000;
}
.ball-1 {
 width: 100px;
 height: 100px;
 left: 10%;
 top: 30%;
}

.ball-2 {
  width: 120px;
  height: 120px;
  left: 28%;
  top: 70%;
}

.ball-3 {
  width: 80px;
  height: 80px;
  left: 90%;
  top: 90%;
}
.ball-4 {
  width: 50px;
  height: 50px;
  top: 90;
  left: 95%;
}
.ball-5 {
  width: 110px;
  height: 110px;
  bottom: 0;
  left: 5%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.ball-6 {
  width: 70px;
  height: 70px;
  bottom: 40%;
  left: 1%;
}
.ball-7 {
  width: 50px;
  height: 50px;
  bottom: 75%;
  left: 18%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.ball-8 {
  width: 50px;
  height: 50px;
  bottom: 25%;
  left: 45%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.ball-9 {
  width: 70px;
  height: 70px;
  bottom: 35%;
  left: 70%;
}

.ball-10 {
  width: 110px;
  height: 110px;
  bottom: 5%;
  left: 90%;
}

.ball-11 {
  width: 70px;
  height: 70px;
  bottom: 85%;
  left: 50%;
}


@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  .balls, .lj {
    display: none;
  }
  .text {
    padding: 0 3rem 5rem 2rem;
  }
}